.container {
    max-width: 1024px;
    min-width: 360px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    border: 1px solid black;
}

.menu {
    width: 200px;
    flex-shrink: 0;
    border-right: 1px solid black;
}

.coctail {
    display: flex;
    padding: 2px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer
}

.custom_radio {
    display: none;
}

.coctail input[type="radio"]:checked + span {
    background-color: #ccc;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: 1px solid black;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
   
}

.small-h1 {
    font-size: 10px;
    margin: 0;
  }
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .menu {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid black;
    }

    .coctail {
        text-align: center;
        padding: 8px;
    }
}