*{
    box-sizing: border-box;
}

.table{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title{
    font-size: 14px;
    color: rgb(2, 2, 68);
}
.checkbox-custom{
    display: none;
}

.checkbox-custom + label{
    display: inline-block;
    padding-left: 30px;
    position: relative;
    cursor:pointer
}

.checkbox-custom + label::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    background-image: url("./../../../public/images/vtb.svg");
    background-size: contain;
    background-repeat: no-repeat;
}   

.checkbox-custom:checked + label::before{
    background-image: url("./../../../public/images/vtb.svg");
}