* {
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(2, 2, 68);
}



.checkbox-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 40px;
    transition: background-color 0.3s;
    position: relative;
}

.checkbox-custom {
    display: none;
}

.bank-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


.checkbox-custom:checked ~ .text {
    font-weight: bold;
}

.checkbox-label-color {
    background-color: #f0f0f0;
}
