*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parentBar{
    display: flex;
    height: 102px;
    padding-top: 30px;
    position: relative;
}

.progressBar {
    flex-grow: 1;
    position: relative;
    flex-basis: 0;
    /* z-index: 1; */
}

.progressBar::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 25px;
    top: -31px;
    right: -9px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./images/emptyStar.svg);
}

.progressBar:last-child::before {
    background-image: url(./images/emptyCup.svg);
    width: 48px;
    right: 0;
}

.colored::before {
    background-image: url(./images/starFullBlue.svg);
}

.colored:last-child::before {
    background-image: url(./images/cupFullBlue.svg);
}

.progressBar:first-child .centerBlock{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.progressBar:last-child .centerBlock{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-right: none;
}


.centerBlock{
    display: flex;
    height: 40px;
    border-right: 2px solid #c4bebe;
    position: relative;
 
}


.bottomBlock{
    position: absolute;
    bottom: 10px;
    right: 0;
    font-size: 14px;
    color: #cac7c7;
}

.progressBar:not(:last-child) .bottomBlock {
    transform: translateX(50%);
}

.inputValue{
    width: 450px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    align-items: center;
    flex-direction: column;
}

.parentBar::before{
    content: "0";
    position: absolute;
    left:4px;
    bottom: 10px;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #cac7c7;
}

.progressBarBackground {
    position: absolute;
    /* top: 100; */
    left: 0;
    right: 0;
    height: 40px;
    background-color: rgb(233, 233, 233);
    border-radius: 25px;
    overflow: hidden;
}

.progressBarFill {
    height: 100%;
    background: rgb(70, 27, 242);
    transition: width 0.5s ease-in-out;
    position: relative;
}
