*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parentBar{
    display: flex;
    width: 1000px;
    height: 102px;
}

.topBlock{
    height: 20px;
    margin-bottom: 10px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.centerBlock{

    height: 40px;
    /* border-radius: 10px; */
    background-color: rgb(233, 233, 233);
}
.bottomBlock{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #cac7c7;
}
.bottomBlockNumber{
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
}

.inputArray{
    width: 450px;
    display: flex;
    justify-content: center;
}

.inputValue{
    width: 450px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    align-items: center;
    flex-direction: column;
}