
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
     align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal {
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    min-height: 100px;
    text-align: center;
    z-index: 1001;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 25px;
  }

  .againWin{
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 15px;
    width: 150px;
    height: 30px;
    background-color: rgb(122, 233, 128);
    border-radius: 8px;
    border-color: lightgreen;
  }

.againLose{
  border-color: rgb(224, 52, 52);
  background-color: rgb(223, 31, 24);
}

  