.selectPageSize{
    width: 250px;
    height: 20px;
    background-color: rgb(133, 211, 31);
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-conter: black;
    border-color: rgb(255, 255, 255);
    border-radius: 15px;
    text-align: center;
}