*{
    box-sizing: border-box;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: rgb(204, 200, 200);
    border-color: grey;
    border: 1px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.hasLetter{
    background-color: rgb(202, 202, 26);
}

.exactPosition{
    background-color: rgb(23, 153, 23);
}